@import '../../variables.global.scss';

.s20 {
  width: 20px;
  height: 20px;
}

.s16 {
  svg {
    width: 16px;
    height: 16px;
  }
}

.s15 {
  svg {
    width: 15px;
    height: 15px;
  }
}

.s14 {
  svg {
    width: 14px;
    height: 14px;
  }
}

.s13 {
  svg {
    width: 13px;
    height: 13px;
  }
}

.s12 {
  svg {
    width: 12px;
    height: 12px;
  }
}

.s11 {
  svg {
    width: 11px;
    height: 11px;
  }
}

.s10 {
  svg {
    width: 10px;
    height: 10px;
  }
}
